h1 {
  text-align: center;
}

.titulo-central h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.titulo-central p {
  font-weight: 600;
  font-size: 20px;
}
.titulo-central h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.titulo-central h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #3c3f94;
  bottom: 0;
  left: calc(50% - 20px);
}

p {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
}

.portada {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/plegado.jpg");
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.portada h1 {
  text-align: center;
  color: white;
}
.portada p {
  color: white;
  padding-top: 50px;
  text-align: center;
}
.portada .logo {
  width: 200px;
  height: 200px;
}

/* Nuestros Servicios*/
.services .icon-box {
  padding: 30px;
  border-radius: 6px;
  background: #f8f9fa;
  transition: ease-in-out 0.3s;
}
.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #384046;
}

/* Nuestros clientes*/
.nuestros-clientes {
  height: auto;
  margin-top: 50px;
}
.nuestros-clientes .gc {
  background-color: #62165d;
  margin-top: 50px;
}
.nuestros-clientes img {
  padding: 50px;
}

@media (max-width: 460px) {
  .portada {
    height: 750px;
  }
  .portada h1 {
    font-size: 40px;
    padding-top: 50px;
  }
  .portada p {
    font-size: 20px;
  }
  .portada .logo {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 768px) {
  .portada {
    height: 950px;
  }
  .portada h1 {
    font-size: 50px;
    padding-top: 150px;
  }
  .portada p {
    font-size: 30px;
  }
  .servicios {
    height: 950px;
  }
  .servicios h1 {
    padding: 100px;
  }
}
@media (min-width: 1024px) {
  .portada {
    height: 950px;
  }
  .portada h1 {
    font-size: 90px;
    padding-top: 200px;
  }
  .portada p {
    padding-top: 0.4px;
    font-size: 35px;
  }
  .servicios {
    height: 950px;
  }
}
blockquote {
  width: 50%;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
blockquote li {
  text-align: center;
  font-size: 30px;
}

.icon-box i {
  color: #3498db;
  font-size: 28px;
}

.icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.icon-box h4 a {
  color: #384046;
  transition: ease-in-out 0.3s;
}

.icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.icon-box:hover h4 a,
.icon-box:hover .icon i {
  color: #3498db;
}

.map {
  width: 100%;
  height: 450px;
  border: 0;
}

/* Ubicacion */
/* 50/50 de ubicacion by flavio*/
.contenedor {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
}

.box {
  width: 90%;
  max-height: 400px;
  margin: 15px 5px;
  box-sizing: border-box;
}
.box .txt-30 {
  font-size: 30px;
}

.bloque-vertical {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 999px) {
  .box {
    width: 40%;
  }
}
footer {
  padding-top: 10px;
  margin-top: 300px;
}
footer a {
  text-decoration: none;
  color: #3c8995;
}
footer a:hover {
  color: #2aaabd;
}
footer h3 {
  font-size: 25px;
}
footer .ico img {
  width: 15px;
  height: 15px;
}
footer .email-div h6 {
  color: #384046;
  margin-top: 10px;
}

.titulo-central {
  text-align: center;
  width: 100%;
  max-height: 300px;
  margin-top: 30px;
  box-sizing: border-box;
}

.box-2 {
  width: 90%;
  max-height: 533px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.centrar {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 999px) {
  .box-2 {
    width: 30%;
    max-height: 420px;
  }
}
/** Contacto **/
.form {
  margin-top: 50px;
  height: auto;
}

/* Gotop */
.button-WhatsApp-container {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  z-index: -1;
}

.WhatsApp-button {
  width: 0rem;
  height: 0rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.WhatsApp-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 30px;
  transition: 0.2s;
}

/* Elemento de js*/
.show {
  z-index: 10;
}

.show .WhatsApp-button {
  -webkit-animation: popup 0.3s ease-in-out;
          animation: popup 0.3s ease-in-out;
  width: 3rem;
  height: 3rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@-webkit-keyframes popup {
  0% {
    width: 0rem;
    height: 3rem;
  }
  50% {
    width: 3rem;
    height: 3rem;
  }
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 3rem;
  }
  50% {
    width: 3rem;
    height: 3rem;
  }
}/*# sourceMappingURL=app.css.map */