h1 {
  text-align: center;
}

p {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
}

.portada {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/plegado.jpg");
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.portada h1 {
  text-align: center;
  color: white;
}
.portada p {
  color: white;
  padding-top: 50px;
  text-align: center;
}
.portada .logo {
  width: 200px;
  height: 200px;
}

/* Nuestro clientes*/
.nuestros-clientes {
  height: auto;
  margin-top: 200px;
}
.nuestros-clientes .gc {
  background-color: #62165d;
  margin-top: 50px;
}
.nuestros-clientes p {
  font-size: 20px;
}
.nuestros-clientes img {
  padding: 50px;
}

@media (max-width: 460px) {
  .portada {
    height: 750px;
  }
  .portada h1 {
    font-size: 40px;
    padding-top: 50px;
  }
  .portada p {
    font-size: 20px;
  }
  .portada .logo {
    width: 150px;
    height: 150px;
  }
  .servicios {
    height: 1250px;
  }
  .servicios h1 {
    padding-top: 100px;
    margin-bottom: 100px;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .portada {
    height: 950px;
  }
  .portada h1 {
    font-size: 50px;
    padding-top: 150px;
  }
  .portada p {
    font-size: 30px;
  }
  .servicios {
    height: 950px;
  }
  .servicios h1 {
    padding: 100px;
  }
}
@media (min-width: 1024px) {
  .portada {
    height: 950px;
  }
  .portada h1 {
    font-size: 90px;
    padding-top: 200px;
  }
  .portada p {
    padding-top: 0.4px;
    font-size: 35px;
  }
  .servicios {
    height: 950px;
  }
}
blockquote {
  width: 50%;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
blockquote li {
  text-align: center;
  font-size: 30px;
}

.map {
  width: 100%;
  height: 450px;
  border: 0;
}

/* Ubicacion */
/* 50/50 de ubicacion by flavio*/
.contenedor {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
}

.caja {
  width: 90%;
  max-height: 400px;
  margin: 15px 5px;
  box-sizing: border-box;
}
.caja .txt-30 {
  font-size: 30px;
}

.bloque-vertical {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 999px) {
  .caja {
    width: 40%;
  }
}
footer {
  padding-top: 10px;
  margin-top: 300px;
}
footer a {
  text-decoration: none;
  color: #6c757d;
}
footer a:hover {
  color: #3c8995;
}
footer h3 {
  font-size: 25px;
}

.titulo-central {
  text-align: center;
  width: 100%;
  max-height: 300px;
  margin-top: 30px;
  box-sizing: border-box;
}

.caja-2 {
  width: 90%;
  max-height: 533px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.centrar {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 999px) {
  .caja-2 {
    width: 30%;
    max-height: 420px;
  }
}
/** Contacto **/
.form {
  margin-top: 50px;
  height: auto;
}

/* Gotop */
.go-top-container {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  z-index: -1;
}

.go-top-button {
  width: 0rem;
  height: 0rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 30px;
  transition: 0.2s;
}

/* Elemento de js*/
.show {
  z-index: 10;
}

.show .go-top-button {
  -webkit-animation: popup 0.3s ease-in-out;
          animation: popup 0.3s ease-in-out;
  width: 3rem;
  height: 3rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@-webkit-keyframes popup {
  0% {
    width: 0rem;
    height: 3rem;
  }
  50% {
    width: 3rem;
    height: 3rem;
  }
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 3rem;
  }
  50% {
    width: 3rem;
    height: 3rem;
  }
}/*# sourceMappingURL=app.css.map */