h1 {
    text-align: center;
}

.titulo-central {

    h1 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
    }

    p {
        font-weight: 600;
        font-size: 20px;
    }


    h1::before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 5px;
        background: #3c8995;
        bottom: 1px;
        left: calc(50% - 60px);
    }

}

p {
    text-align: center;
}

//Navegacion
.navbar {
    position: fixed;
    top: 0;
}

//Portada
.portada {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/plegado.jpg");

    user-select: none;

    h1 {
        text-align: center;
        color: white;
    }

    p {
        color: white;
        padding-top: 50px;
        text-align: center;
    }

    .logo {
        width: 200px;
        height: 200px;
    }
}

/* Nuestros Servicios*/

.services {

    padding-bottom: 100px;
    .icon-box {
        padding: 30px;
        border-radius: 6px;
        background: #f8f9fa;
        transition: ease-in-out 0.3s;
    }


    .icon-box h4 {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
        color: #384046;
    }

}


/* Nuestros clientes*/
.nuestros-clientes {
    height: auto;
    margin-top: 50px;

    .gc {
        background-color: #62165d;
        margin-top: 50px;
    }

    img {
        padding: 50px;
        width: 40vh;
    }
}

// UI

//Mobile
@media(max-width: 460px) {
    .portada {
        height: 650px;
        padding-top: 60px;
        h1 {
            font-size: 40px;
            padding-top: 50px;
        }

        p {
            font-size: 20px;
        }

        .logo {
            width: 150px;
            height: 150px;
        }
    }
    .nuestros-clientes{
        img{
            width: 30vh;
        }
    }
}

//Tablet
@media(min-width: 768px) {
    .portada {
        height: 950px;

        h1 {
            font-size: 50px;
            padding-top: 150px;
        }

        p {
            font-size: 30px;
        }
    }

    .servicios {
        height: 800px;

        h1 {
            padding: 100px;
        }
    }
}

//Desktop
@media(min-width: 1024px) {
    .portada {
        height: 850px;

        h1 {
            font-size: 90px;
            padding-top: 200px;
        }

        p {
            padding-top: .40px;
            font-size: 35px;
        }
    }

    .servicios {
        height: 950px;
    }
}

//Box
blockquote {
    width: 50%;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    li {
        text-align: center;
        font-size: 30px;
    }
}

.icon-box i {
    color: #3498db;
    font-size: 28px;
}

.icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.icon-box h4 a {
    color: #384046;
    transition: ease-in-out 0.3s;
}

.icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.icon-box:hover h4 a,
.icon-box:hover .icon i {
    color: #3498db;
}


.map {
    width: 100%;
    height: 450px;
    border: 0;
}


/* Ubicacion */

/* 50/50 de ubicacion by flavio*/
.contenedor {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}

.box {
    width: 90%;
    max-height: 400px;
    margin: 15px 5px;
    box-sizing: border-box;

    .txt-30 {
        font-size: 30px;
    }
}

.bloque-vertical {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

@media screen and (min-width:999px) {
    .box {
        width: 40%;
    }
}

footer {
    padding-top: 10px;
    margin-top: 50px;

    a {
        text-decoration: none;
        color: #3c8995;
    }

    a:hover {
        color: #2aaabd;
    }

    h3 {
        font-size: 25px;
    }

    .ico {
        img {
            width: 15px;
            height: 15px;
        }
    }

    .email-div{
        h6{
            color: #384046;
            margin-top: 10px;
        }
    }
}

// Responsive en index by flavio

.titulo-central {
    text-align: center;
    width: 100%;
    max-height: 300px;
    margin-top: 30px;
    box-sizing: border-box;
}

.box-2 {
    width: 90%;
    max-height: 533px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
}

@media screen and (min-width:999px) {
    .box-2 {
        width: 30%;
        max-height: 420px;
    }
}

/** Contacto **/
.form {
    margin-top: 50px;
    height: auto;
}

/* Gotop */

.button-WhatsApp-container {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.WhatsApp-button {
    width: 0rem;
    height: 0rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.WhatsApp-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 30px;
    transition: .2s;
}

/* Elemento de js*/
.show {
    z-index: 10;
}

.show .WhatsApp-button {
    animation: popup .3s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 3rem;
    }

    50% {
        width: 3rem;
        height: 3rem;
    }

    100% {}
}


/*--------------------------------------------------------------
# Galeria
--------------------------------------------------------------*/
.portfolio {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 15px 15px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #444444;
  border-radius: 4px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #3498db;
  color: #fff;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.portfolio .portfolio-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.portfolio .portfolio-item {
  position: relative;
  height: 360px;
  overflow: hidden;
}

.portfolio .portfolio-item figure {
  background: #000;
  overflow: hidden;
  height: 240px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

.portfolio .portfolio-item figure:hover img {
  opacity: 0.4;
  transition: 0.4s;
}

.portfolio .portfolio-item figure .link-preview,
.portfolio .portfolio-item figure .link-details {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  line-height: 0;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.2s linear;
  overflow: hidden;
  font-size: 20px;
}

.portfolio .portfolio-item figure .link-preview i,
.portfolio .portfolio-item figure .link-details i {
  color: #384046;
  line-height: 0;
}

.portfolio .portfolio-item figure .link-preview:hover,
.portfolio .portfolio-item figure .link-details:hover {
  background: #3498db;
}

.portfolio .portfolio-item figure .link-preview:hover i,
.portfolio .portfolio-item figure .link-details:hover i {
  color: #fff;
}

.portfolio .portfolio-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

.portfolio .portfolio-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

.portfolio .portfolio-item figure:hover .link-preview {
  opacity: 1;
  left: calc(50% - 44px);
}

.portfolio .portfolio-item figure:hover .link-details {
  opacity: 1;
  right: calc(50% - 44px);
}

.portfolio .portfolio-item .portfolio-info {
  background: #fff;
  text-align: center;
  padding: 30px;
  height: 90px;
  border-radius: 0 0 3px 3px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 18px;
  padding-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info h4 a {
  color: #333;
}

.portfolio .portfolio-item .portfolio-info h4 a:hover {
  color: #3498db;
}

.portfolio .portfolio-item .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #b8b8b8;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}
