h1 {
    text-align: center;
}

p {
    text-align: center;
}

//Titulos
.titulo-central {

    h1 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 50px;
        padding-bottom: 20px;
        position: relative;
    }

    p {
        font-weight: 600;
        font-size: 20px;
    }

    h1::before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 5px;
        background: #3c8995;
        bottom: 1px;
        left: calc(50% - 60px);
    }

}


//Navegacion
.navbar {
    position: fixed;
    top: 0;
}

/* Portada */
.portada {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/galeria/textura.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    user-select: none;
    height: 100vh;

    h1 {
        text-align: center;
        color: white;
        padding-top: 25vh;
    }

    p {
        color: white;
        padding-top: 50px;
        text-align: center;
    }

    .logo {
        width: 200px;
        height: 200px;
    }
}

/* Nuestros Servicios*/
.services {

    padding-bottom: 100px;

    .icon-box {
        padding: 30px;
        border-radius: 6px;
        background: #f8f9fa;
        transition: ease-in-out 0.3s;
    }


    .icon-box h4 {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
        color: #384046;
    }

}

/* Nuestros clientes*/
.nuestros-clientes {
    height: auto;
    margin-top: 50px;


    .gc {
        background-color: #62165d;
        margin-top: 50px;
    }

    img {
        padding: 50px;
        width: 40vh;
    }
}

/* ---UI Resposive--- */

//Mobile
@media(max-width: 460px) {
    .portada {
        height: 800px;
        padding-top: 60px;

        background-position: center;

        h1 {
            font-size: 40px;
            padding-top: 150px;
        }

        p {
            font-size: 20px;
        }

        .logo {
            width: 150px;
            height: 150px;
        }
    }

    .nuestros-clientes {
        img {
            width: 30vh;
        }
    }

    .container-ubicacion{
        .info{
            font-size: 1px;
            color: red;
        }
    }
}

//Tablet
@media(min-width: 768px) {
    .portada {

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 30px;
        }
    }

    .servicios {
        height: 800px;

        h1 {
            padding: 100px;
        }
    }
}

//Desktop
@media(min-width: 1024px) {
    .portada {

        h1 {
            font-size: 90px;
        }

        p {
            padding-top: .40px;
            font-size: 35px;
        }
    }

    .servicios {
        height: 950px;
    }

}


.icon-box i {
    color: #3498db;
    font-size: 28px;
}

.icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}

.icon-box h4 a {
    color: #384046;
    transition: ease-in-out 0.3s;
}

.icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.icon-box:hover h4 a,
.icon-box:hover .icon i {
    color: #3498db;
}




/* Ubicacion */
.map {
    width: 100%;
    height: 450px;
    border: 0;
}

/* 50/50 de ubicacion by flavio*/
.container-ubicacion{
    .info{
        font-size: 20px;
    }
}
.contenedor {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
    
}

.box {
    width: 90%;
    max-height: 400px;
    margin: 15px 5px;
    box-sizing: border-box;

    .txt-30 {
        font-size: 30px;
    }
}

.bloque-vertical {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

@media screen and (min-width:999px) {
    .box {
        width: 40%;
    }
}

/* Footer */
footer {
    padding-top: 10px;
    margin-top: 50px;

    a {
        text-decoration: none;
        color: #3c8995;
    }

    a:hover {
        color: #2aaabd;
    }

    h3 {
        font-size: 25px;
    }

    .ico {
        img {
            width: 15px;
            height: 15px;
        }
    }

    .email-div {
        h6 {
            color: #384046;
            margin-top: 10px;
        }
    }
}

// Responsive en index by flavio

.titulo-central {
    text-align: center;
    width: 100%;
    max-height: 300px;
    margin-top: 30px;
    box-sizing: border-box;
}

.box-2 {
    width: 90%;
    max-height: 533px;
    margin-bottom: 25px;
    box-sizing: border-box;
}

.center {
    display: flex;
    justify-content: center;
}

@media screen and (min-width:999px) {
    .box-2 {
        width: 30%;
        max-height: 420px;
    }
}

/** Contacto **/
.form {
    margin-top: 50px;
    height: auto;
}

/* Gotop */

.button-WhatsApp-container {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.WhatsApp-button {
    width: 0rem;
    height: 0rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.WhatsApp-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 30px;
    transition: .2s;
}

/* Elemento de js*/
.show {
    z-index: 10;
}

.show .WhatsApp-button {
    animation: popup .3s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 3rem;
    }

    50% {
        width: 3rem;
        height: 3rem;
    }

    100% {}
}


/* Galeria */

.galeria {
    background-color: #f8f9fa;

    .galeria-wrap {
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
        transition: 0.3s;
        padding: 0 10px;
    }

    .galeria-wrap:hover {
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.342);
    }

    .galeria-item {
        position: relative;
        height: 360px;
        overflow: hidden;
    }

    .galeria-item figure {
        background: #000;
        overflow: hidden;
        height: 240px;
        position: relative;
        border-radius: 4px 4px 0 0;
        margin: 0;
    }

    .galeria-item figure:hover img {
        opacity: 0.4;
        transition: 0.4s;
    }

    .galeria-info {
        background: #fff;
        text-align: center;
        padding: 30px;
        border-radius: 0 0 3px 3px;

        h4,
        a {
            font-size: 20px;
            line-height: 1px;
            color: #000;
            font-weight: 90px;
            margin-bottom: 18px;
            padding-bottom: 0;
            text-decoration: none;
        }
    }

    .modal{
        display: none;        
    }

    .modal:target{
        display: block;
        position: fixed;
        background: rgb(0,0,0, 0.8);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .modal h3{
        color: #fff;
        font-size: 30px;
        text-align: center;
        margin: 15px 0;
    }
    .img{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img a{
        color: #fff;
        font-size: 40px;
        text-decoration: none;
        margin: 0 10px;
    }
    .img a:nth-child(2){
        margin: 0;
        height: 100%;
        flex-shrink: 2;
    }
    .img img{
        width: 500px;
        height: 100%;
        margin-top: 10vh;
        max-width: 100%;
        box-sizing: border-box;
    }

    .close{
        display: block;
        width: 40px;
        height: 40px;
        margin: 15vh auto;
        text-align: center;
        text-decoration: none;
        font-size: 35px;
        color: #fff;
        padding: 5px;
        border-radius: 50%;
        line-height: 25px;
    }

}