h1 {
  text-align: center;
}

p {
  text-align: center;
}

body {
  scroll-behavior: smooth;
}

.titulo-central h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 50px;
  padding-bottom: 20px;
  position: relative;
}
.titulo-central p {
  font-weight: 600;
  font-size: 20px;
}
.titulo-central h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 5px;
  background: #3c8995;
  bottom: 1px;
  left: calc(50% - 60px);
}

.navbar {
  position: fixed;
  top: 0;
}

/* Portada */
.portada {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/galeria/textura.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100vh;
}
.portada h1 {
  text-align: center;
  color: white;
  padding-top: 25vh;
}
.portada p {
  color: white;
  padding-top: 50px;
  text-align: center;
}
.portada .logo {
  width: 200px;
  height: 200px;
}

/* Nuestros Servicios*/
.services {
  padding-bottom: 100px;
}
.services .box {
  height: 500px;
  background: #f8f9fa;
  width: 400px;
  position: relative;
}
.services .icon-box {
  padding: 30px;
  border-radius: 6px;
  transition: ease-in-out 0.3s;
}
.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #384046;
}
.services .icon-box i {
  color: #3498db;
  font-size: 28px;
}
.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.services .icon-box h4 a {
  color: #384046;
  transition: ease-in-out 0.3s;
}
.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}
.services .icon-box:hover h4 a,
.services .icon-box:hover .icon i {
  color: #3498db;
}
.services .button {
  text-align: center;
  bottom: 0;
  position: absolute;
  background-color: #2aaabd;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  border-color: #000;
}
.services .button a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

/* Nuestros clientes*/
.nuestros-clientes {
  height: auto;
  margin-top: 50px;
}
.nuestros-clientes .gc {
  background-color: #62165d;
  margin-top: 50px;
}
.nuestros-clientes img {
  padding: 50px;
  width: 40vh;
}

/* ---UI Resposive--- */
@media (max-width: 460px) {
  .portada {
    height: 800px;
    padding-top: 60px;
    background-position: center;
  }
  .portada h1 {
    font-size: 40px;
    padding-top: 150px;
  }
  .portada p {
    font-size: 20px;
  }
  .portada .logo {
    width: 150px;
    height: 150px;
  }
  .nuestros-clientes img {
    width: 30vh;
  }
  .galeria-info h4 {
    font-size: 20px;
  }
  .galeria-info h4,
.galeria-info a {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .portada h1 {
    font-size: 50px;
  }
  .portada p {
    font-size: 30px;
  }
  .servicios {
    height: 800px;
  }
  .servicios h1 {
    padding: 100px;
  }
  .galeria-info h4,
.galeria-info a {
    line-height: 1px;
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .portada h1 {
    font-size: 90px;
  }
  .portada p {
    padding-top: 0.4px;
    font-size: 35px;
  }
  .servicios {
    height: 950px;
  }
  .galeria-info h4,
.galeria-info a {
    line-height: 1px;
    font-size: 20px;
  }
}
/* Ubicacion */
.map {
  width: 100%;
  height: 450px;
  border: 0;
}

/* 50/50 de ubicacion by flavio*/
.container-ubicacion .info {
  font-size: 20px;
}

.contenedor {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
}

.box {
  width: 90%;
  max-height: 400px;
  margin: 15px 5px;
  box-sizing: border-box;
}
.box .txt-30 {
  font-size: 30px;
}

.bloque-vertical {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 999px) {
  .box {
    width: 40%;
  }
}
/* Footer */
footer {
  padding-top: 10px;
}
footer a {
  text-decoration: none;
  color: #3c8995;
}
footer a:hover {
  color: #2aaabd;
}
footer h3 {
  font-size: 25px;
}
footer .ico img {
  width: 15px;
  height: 15px;
}
footer .email-div h6 {
  color: #384046;
  margin-top: 10px;
}

.titulo-central {
  text-align: center;
  width: 100%;
  max-height: 300px;
  margin-top: 30px;
  box-sizing: border-box;
  padding-top: 10vh;
}

.box-2 {
  width: 90%;
  max-height: 533px;
  margin-bottom: 25px;
  margin-top: 2px;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 999px) {
  .box-2 {
    width: 30%;
    max-height: 420px;
  }
}
/** Contacto **/
.form {
  margin-top: 50px;
  height: auto;
}

/* Gotop */
.button-WhatsApp-container {
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  z-index: -1;
}

.WhatsApp-button {
  width: 0rem;
  height: 0rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.WhatsApp-button i {
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 30px;
  transition: 0.2s;
}

/* Elemento de js*/
.show {
  z-index: 10;
}

.show .WhatsApp-button {
  -webkit-animation: popup 0.3s ease-in-out;
          animation: popup 0.3s ease-in-out;
  width: 3rem;
  height: 3rem;
  z-index: 11;
}

.show i {
  transform: translate(-50%, -50%) scale(1);
}

@-webkit-keyframes popup {
  0% {
    width: 0rem;
    height: 3rem;
  }
  50% {
    width: 3rem;
    height: 3rem;
  }
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 3rem;
  }
  50% {
    width: 3rem;
    height: 3rem;
  }
}
/* Galeria */
.galeria {
  background-color: #f8f9fa;
}
.galeria .galeria-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  padding: 0 10px;
}
.galeria .galeria-wrap:hover {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.342);
}
.galeria .galeria-item {
  position: relative;
  height: 360px;
  overflow: hidden;
}
.galeria .galeria-item figure {
  background: #000;
  overflow: hidden;
  height: 240px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}
.galeria .galeria-item figure:hover img {
  opacity: 0.4;
  transition: 0.4s;
}
.galeria .galeria-info {
  background: #fff;
  text-align: center;
  padding: 30px;
  border-radius: 0 0 3px 3px;
}
.galeria .galeria-info h4,
.galeria .galeria-info a {
  color: #000;
  font-weight: 90px;
  margin-bottom: 18px;
  padding-bottom: 0;
  text-decoration: none;
}
.galeria .modal {
  display: none;
}
.galeria .modal:target {
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.galeria .modal h3 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
}
.galeria .img {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.galeria .img a {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px;
}
.galeria .img a:nth-child(2) {
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}
.galeria .img img {
  width: 500px;
  height: 100%;
  margin-top: 10vh;
  max-width: 100%;
  box-sizing: border-box;
}
.galeria .close {
  display: block;
  width: 40px;
  height: 40px;
  margin: 15vh auto;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px;
}

/* Formulario */
.content-form {
  box-sizing: border-box;
  color: #fff;
  line-height: 1.6;
  padding: 0 1.5em;
  background-color: #f8f9fa;
  /* CONTACT INFO */
  /* LARGE SIZE */
}
.content-form .titulo-central {
  color: #000000;
}
.content-form .container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}
.content-form ul {
  list-style: none;
  padding: 0;
}
.content-form .logo {
  text-align: center;
  font-size: 3em;
}
.content-form .logo span {
  color: #3c8995;
}
.content-form .contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}
.content-form .contact-wrapper > * {
  padding: 1em;
}
.content-form .contact-form {
  background: #222222;
}
.content-form .contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content-form .contact-form form label {
  display: block;
}
.content-form .contact-form form p {
  margin: 0;
  padding: 1em;
}
.content-form .contact-form form .block {
  grid-column: 1/3;
}
.content-form .contact-form form button,
.content-form .contact-form form input,
.content-form .contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #3c8995;
}
.content-form .contact-form form button {
  background: #3c8995;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}
.content-form .contact-form form button:hover,
.content-form .contact-form form button:focus {
  background: #3c8995;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}
.content-form .contact-info {
  background: #000;
}
.content-form .contact-info h4,
.content-form .contact-info ul,
.content-form .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}
@media (min-width: 700px) {
  .content-form body {
    padding: 0 4em;
  }
  .content-form .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .content-form .contact-wrapper > * {
    padding: 2em;
  }
  .content-form .contact-info h4,
.content-form .contact-info ul,
.content-form .contact-info p {
    text-align: left;
  }
}/*# sourceMappingURL=app.css.map */