/* Globales */
h1 {
    text-align: center;
}

p {
    text-align: center;
}

body {
    scroll-behavior: smooth;
}

/* Titulos */
.titulo-central {

    text-align: center;
    width: 100%;
    max-height: 300px;
    margin-top: 30px;
    box-sizing: border-box;
    padding-top: 10vh;

    h1 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 50px;
        padding-bottom: 20px;
        position: relative;
    }

    p {
        font-weight: 600;
        font-size: 20px;
    }

    h1::before {
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 5px;
        background: #3c8995;
        bottom: 1px;
        left: calc(50% - 60px);
    }

}

/* Navegacion */
.navbar {
    position: fixed;
    top: 0;
}

/* Portada */
.portada {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/galeria/textura.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    user-select: none;
    height: 100vh;

    h1 {
        text-align: center;
        color: white;
        padding-top: 25vh;
    }

    p {
        color: white;
        padding-top: 50px;
        text-align: center;
    }

    .logo {
        width: 200px;
        height: 200px;
    }
}

/* Nuestros Servicios*/
.services {

    padding-bottom: 100px;
    background-color: #fff;

    .box {
        height: 500px;
        background: #f8f9fa;
        width: 400px;
        position: relative;
        padding-top: 10px;
        box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        border-style: outset;
        border-width: 2px;
        border-color: transparent #3c8995;

        p {
            color: #000;
            font-size: large;
            font-weight: 500;
        }

        li {
            color: #000;
            font-size: large;
            font-weight: 500;
        }
    }

    .icon-box {
        border-radius: 6px;
        transition: ease-in-out 0.3s;



        .circle {
            border-color: #000 #3c8995;
            border-style: inset;
            border-width: 5px;

            height: 150px;
            width: 150px;
            margin: 0px auto;
            align-items: center;
            border-radius: 50%;

            .see-services {
                height: 50px;
                position: absolute;
                top: 10px;
                left: 44%;
            }

            .img-services {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            .img-services:hover {
                opacity: 1;
                transition: 0.4s;
            }

        }


    }

    .icon-box h4 {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 24px;
        text-align: center;
    }

    .icon-box h4 a {
        color: #384046;
        transition: ease-in-out 0.3s;
    }

    .icon-box p {
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }

    .box:hover {
        -webkit-box-shadow: -19px 1px 26px 9px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: -19px 1px 26px 9px rgba(0, 0, 0, 0.25);
        box-shadow: -19px 1px 26px 9px rgba(0, 0, 0, 0.25);
    }

    .button {
        text-align: center;

        text-decoration: none;
        color: #fff;
        font-size: 25px;
        font-weight: 500;

        bottom: 0;
        position: absolute;
        background-color: #3c8995;
        width: 50%;
        height: 50px;
        border-radius: 10px;
        border-color: #000;
        margin: 10px 25%;
    }

    .button:hover {
        transition: 0.5s;
        background-color: #384046;
    }

    .box-2 {
        width: 90%;
        max-height: 533px;
        margin-bottom: 25px;
        margin-top: 2px;
        box-sizing: border-box;
    }

    .center {
        display: flex;
        justify-content: center;
    }

}

/* Nuestros clientes*/
.nuestros-clientes {
    height: auto;

    .gc {
        background-color: #62165d;
        margin-top: 50px;
    }

    img {
        padding: 50px;
        width: 40vh;
    }

    .info-client {
        color: #000;
        font-size: large;
        font-size: 25px;
    }
}

/* Button WhatsApp */
.button-WhatsApp-container {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.WhatsApp-button {
    width: 0rem;
    height: 0rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.WhatsApp-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 30px;
    transition: .2s;
}

/* Elemento de js*/
.show {
    z-index: 10;
}

.show .WhatsApp-button {
    animation: popup .3s ease-in-out;
    width: 3rem;
    height: 3rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 3rem;
    }

    50% {
        width: 3rem;
        height: 3rem;
    }

    100% {}
}


/* Galeria */
.galeria {
    background-color: #f8f9fa;

    .galeria-wrap {
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
        transition: 0.3s;
        padding: 0 10px;
    }

    .galeria-wrap:hover {
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.342);
    }

    .galeria-item {
        position: relative;
        height: 360px;
        overflow: hidden;
    }

    .galeria-item figure {
        background: #000;
        overflow: hidden;
        height: 240px;
        position: relative;
        border-radius: 4px 4px 0 0;
        margin: 0;
    }

    .galeria-item figure:hover img {
        opacity: 0.4;
        transition: 0.4s;
    }

    .galeria-info {
        background: #fff;
        text-align: center;
        padding: 30px;
        border-radius: 0 0 3px 3px;

        h4,
        a {
            color: #000;
            font-weight: 90px;
            margin-bottom: 18px;
            padding-bottom: 0;
            text-decoration: none;
        }
    }

    .modal {
        display: none;
    }

    .modal:target {
        display: block;
        position: fixed;
        background: rgb(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .modal h3 {
        color: #fff;
        font-size: 30px;
        text-align: center;
        margin: 15px 0;
    }

    .img {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img a {
        color: #fff;
        font-size: 40px;
        text-decoration: none;
        margin: 0 10px;
    }

    .img a:nth-child(2) {
        margin: 0;
        height: 100%;
        flex-shrink: 2;
    }

    .img img {
        width: 500px;
        height: 100%;
        margin-top: 10vh;
        max-width: 100%;
        box-sizing: border-box;
    }

    .close {
        display: block;
        width: 40px;
        height: 40px;
        margin: 15vh auto;
        text-align: center;
        text-decoration: none;
        font-size: 35px;
        color: #fff;
        padding: 5px;
        border-radius: 50%;
        line-height: 25px;
    }

}

/* Formulario */
.content-form {
    box-sizing: border-box;
    color: #fff;
    line-height: 1.6;
    padding: 0 1.5em;
    background-color: #f8f9fa;

    .titulo-central {
        color: #000000;
    }

    .container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .logo {
        text-align: center;
        font-size: 3em;
    }

    .logo span {
        color: #3c8995;
    }

    .contact-wrapper {
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    }

    .contact-wrapper>* {
        padding: 1em;
    }

    .contact-form {
        background: #222222;
    }

    .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-form form label {
        display: block;
    }

    .contact-form form p {
        margin: 0;
        padding: 1em;
    }

    .contact-form form .block {
        grid-column: 1 / 3;
    }

    .contact-form form button,
    .contact-form form input,
    .contact-form form textarea {
        width: 100%;
        padding: .7em;
        border: none;
        background: none;
        outline: 0;
        color: #fff;
        border-bottom: 1px solid #3c8995;
    }

    .contact-form form button {
        background: #3c8995;
        border: 0;
        text-transform: uppercase;
        padding: 1em;
    }

    .contact-form form button:hover,
    .contact-form form button:focus {
        background: #3c8995;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0;
    }

    /* CONTACT INFO */
    .contact-info {
        background: #000;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: center;
        margin: 0 0 1rem 0;
    }

    .columns {
        background-color: #000;
        padding: 20px 4em;
        border-style: solid;
        border-color: #3c899584;

        a {
            text-decoration: none;
            color: #3c8995;
        }
    }

    /* LARGE SIZE */
    @media(min-width: 700px) {
        body {
            padding: 0 4em;
        }

        .contact-wrapper,
        .columns {
            display: grid;
            grid-template-columns: 2fr 1fr;
        }

        .contact-wrapper>* {
            padding: 2em;
        }

        .contact-info h4,
        .contact-info ul,
        .contact-info p {
            text-align: left;
        }
    }
}

/* Footer */
footer {
    padding-top: 10px;

    a {
        text-decoration: none;
        color: #3c8995;
    }

    a:hover {
        color: #2aaabd;
    }

    h3 {
        font-size: 25px;
    }

    .ico {
        img {
            width: 15px;
            height: 15px;
        }
    }

    .email-div {
        h6 {
            color: #384046;
            margin-top: 10px;
        }
    }
}

/* UI Resposive */
//Mobile
@media(max-width: 460px) {
    .portada {
        height: 800px;
        padding-top: 60px;

        background-position: center;

        h1 {
            font-size: 40px;
            padding-top: 150px;
        }

        p {
            font-size: 20px;
        }

        .logo {
            width: 150px;
            height: 150px;
        }
    }

    .nuestros-clientes {
        img {
            width: 30vh;
        }
    }

    .galeria-info {
        h4 {
            font-size: 20px;
        }
    }

    .galeria-info {

        h4,
        a {
            font-size: 15px;
        }
    }

    .nuestros-clientes {
        .info-client {
            color: #000;
            font-size: large;
            font-size: 15px;
        }
    }
}

//Tablet
@media(min-width: 768px) {
    .portada {

        h1 {
            font-size: 50px;
        }

        p {
            font-size: 30px;
        }
    }

    .servicios {
        height: 800px;

        h1 {
            padding: 100px;
        }
    }

    .galeria-info {

        h4,
        a {
            line-height: 1px;
            font-size: 20px;
        }
    }

    .nuestros-clientes {
        .info-client {
            color: #000;
            font-size: large;
            font-size: 20px;
        }
    }

}

//Desktop
@media(min-width: 1024px) {
    .portada {

        h1 {
            font-size: 90px;
        }

        p {
            padding-top: .40px;
            font-size: 35px;
        }
    }

    .servicios {
        height: 950px;
    }

    .galeria-info {

        h4,
        a {
            line-height: 1px;
            font-size: 20px;
        }
    }

    .nuestros-clientes {
        .info-client {
            color: #000;
            font-size: large;
            font-size: 25px;
        }
    }
}

.contenedor {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;

}

.box {
    width: 90%;
    max-height: 400px;
    margin: 15px 5px;
    box-sizing: border-box;

    .txt-30 {
        font-size: 30px;
    }
}

@media screen and (min-width:999px) {
    .box {
        width: 40%;
    }
}

@media screen and (min-width:999px) {
    .box-2 {
        width: 30%;
        max-height: 420px;
    }
}